[submodule "openwrt_official"]
	path = openwrt_official
	url = ../../openwrt/openwrt.git
	branch = main
[submodule "openwrt_nss"]
	path = openwrt_nss
	url = ../../gustinLorenzo/openwrt.git
	branch = main_nss
